*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}
header{
background-color: #3d3d3d;
color: rgb(0, 0, 0);
width: 100%;
padding: 20px;
}
.cabecalho-itens{
max-width: 1980px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}
.cabecalho_imagem {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid  rgb(147, 133, 155);
}

.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font-size: 30px;
}
.sociais{
display: flex;
justify-content: flex-end;
gap: 10px;
width: 25%;
padding-right: 30px;
}

.icone-social{
    width: 30px;
    height: 30px;
}
.banner1 {
    height: 100%;
    background: linear-gradient(#95CCDD #D0E7E6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-texto{
    text-align: center;
}

.escola-imagem {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
} 

.estudante_titulo{
padding: 50px;
text-align: center;

}
.estudante-nome{
text-align: center;
}
.estudante-imagem{
width: 180px;
height: 300px;
object-fit: center;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
background-image: background-color #faae43;
padding: 24px 0;
}

.estudante-div{
text-align: center;

}
.estudantes_todos{
display: flex;
justify-content:space-around;
align-items: flex-start;
gap: 40px;
}

.escola{
background-image: linear-gradient(#40A2E3,#7FC2EF);
color: white;
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffffff;
text-decoration: none;
}
